<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.product.mapper.ProductMapper">

    <resultMap type="Product" id="TProductResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="productNo"    column="product_no"    />
        <result property="status"    column="status"    />
        <result property="productName"    column="product_name"    />
        <result property="barCode"    column="bar_code"    />
        <result property="categoryOne"    column="category_one"    />
        <result property="categoryTwo"    column="category_two"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="marketPrice"    column="market_price"    />
        <result property="productIntroduce"    column="product_introduce"    />
        <result property="productDetailPc"    column="product_detail_pc"    />
        <result property="productDetailMobile"    column="product_detail_mobile"    />
        <result property="storageId"    column="storage_id"    />
        <result property="stock"    column="stock"    />
        <result property="stockLimit"    column="stock_limit"    />
        <result property="unit"    column="unit"    />
        <result property="sort"    column="sort"    />
        <result property="salesNum"    column="sales_num"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="productId"    column="product_id"    />
        <result property="attrNameCn"    column="attr_name_cn"    />
        <result property="attrNameEn"    column="attr_name_en"    />
        <result property="attrValue"    column="attr_value"    />
    </resultMap>
    <resultMap type="Map" id="map">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="productNo"    column="product_no"    />
        <result property="status"    column="status"    />
        <result property="productName"    column="product_name"    />
        <result property="barCode"    column="bar_code"    />
        <result property="categoryOne"    column="category_one"    />
        <result property="categoryTwo"    column="category_two"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="marketPrice"    column="market_price"    />
        <result property="productIntroduce"    column="product_introduce"    />
        <result property="productDetailPc"    column="product_detail_pc"    />
        <result property="productDetailMobile"    column="product_detail_mobile"    />
        <result property="storageId"    column="storage_id"    />
        <result property="stock"    column="stock"    />
        <result property="stockLimit"    column="stock_limit"    />
        <result property="unit"    column="unit"    />
        <result property="sort"    column="sort"    />
        <result property="salesNum"    column="sales_num"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="productId"    column="product_id"    />
        <result property="attrNameCn"    column="attr_name_cn"    />
        <result property="attrNameEn"    column="attr_name_en"    />
        <result property="attrValue"    column="attr_value"    />
    </resultMap>

    <sql id="selectTProductVo">
        select id, company_id, product_no, status, product_name, bar_code, category_one, category_two, sale_price, market_price, product_introduce, product_detail_pc, product_detail_mobile, storage_id, stock, stock_limit, unit, sort, sales_num, create_user, create_time, update_user, update_time from t_product
    </sql>

    <select id="selectTProductList" parameterType="Product" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="productNo != null  and productNo != ''"> and product_no = #{productNo}</if>
            <if test="status != null"> and status = #{status}</if>
            <if test="status == null "> and status != 1</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="barCode != null  and barCode != ''"> and bar_code = #{barCode}</if>
            <if test="categoryOne != null  and categoryOne != ''"> and category_one = #{categoryOne}</if>
            <if test="categoryTwo != null  and categoryTwo != ''"> and category_two = #{categoryTwo}</if>
            <if test="proaductCategory != null  and proaductCategory != ''"> and( category_two = #{proaductCategory} or category_one=#{proaductCategory})</if>
            <if test="salePrice != null "> and sale_price = #{salePrice}</if>
            <if test="marketPrice != null "> and market_price = #{marketPrice}</if>
            <if test="productIntroduce != null  and productIntroduce != ''"> and product_introduce = #{productIntroduce}</if>
            <if test="productDetailPc != null  and productDetailPc != ''"> and product_detail_pc = #{productDetailPc}</if>
            <if test="productDetailMobile != null  and productDetailMobile != ''"> and product_detail_mobile = #{productDetailMobile}</if>
            <if test="storageId != null "> and storage_id = #{storageId}</if>
            <if test="stock != null "> and stock = #{stock}</if>
            <if test="stockLimit != null "> and stock_limit = #{stockLimit}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="salesNum != null "> and sales_num = #{salesNum}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
        </where>
        order by sort
    </select>

    <select id="selectTProductById" parameterType="Long" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        where id = #{id}
    </select>

    <select id="getAttributeList" resultMap="map">
        select id, company_id, product_id, attr_name_cn, attr_name_en, attr_value, sort, create_user, create_time, update_user, update_time
        from t_product_attr
        where product_id = #{id}
    </select>

    <insert id="insertTProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="productNo != null">product_no,</if>
            <if test="status != null">status,</if>
            <if test="productName != null">product_name,</if>
            <if test="barCode != null">bar_code,</if>
            <if test="categoryOne != null">category_one,</if>
            <if test="categoryTwo != null">category_two,</if>
            <if test="salePrice != null">sale_price,</if>
            <if test="marketPrice != null">market_price,</if>
            <if test="productIntroduce != null">product_introduce,</if>
            <if test="productDetailPc != null">product_detail_pc,</if>
            <if test="productDetailMobile != null">product_detail_mobile,</if>
            <if test="storageId != null">storage_id,</if>
            <if test="stock != null">stock,</if>
            <if test="stockLimit != null">stock_limit,</if>
            <if test="unit != null">unit,</if>
            <if test="sort != null">sort,</if>
            <if test="salesNum != null">sales_num,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="productNo != null">#{productNo},</if>
            <if test="status != null">#{status},</if>
            <if test="productName != null">#{productName},</if>
            <if test="barCode != null">#{barCode},</if>
            <if test="categoryOne != null">#{categoryOne},</if>
            <if test="categoryTwo != null">#{categoryTwo},</if>
            <if test="salePrice != null">#{salePrice},</if>
            <if test="marketPrice != null">#{marketPrice},</if>
            <if test="productIntroduce != null">#{productIntroduce},</if>
            <if test="productDetailPc != null">#{productDetailPc},</if>
            <if test="productDetailMobile != null">#{productDetailMobile},</if>
            <if test="storageId != null">#{storageId},</if>
            <if test="stock != null">#{stock},</if>
            <if test="stockLimit != null">#{stockLimit},</if>
            <if test="unit != null">#{unit},</if>
            <if test="sort != null">#{sort},</if>
            <if test="salesNum != null">#{salesNum},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="insertProductAttr" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into t_product_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="attrNameCn != null">attr_name_cn,</if>
            <if test="attrNameEn != null">attr_name_en,</if>
            <if test="attrValue != null">attr_value,</if>
            <if test="sort != null">sort,</if>
            <if test="salesNum != null">sales_num,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="attrNameCn != null">#{attrNameCn},</if>
            <if test="attrNameEn != null">#{attrNameEn},</if>
            <if test="attrValue != null">#{attrValue},</if>
            <if test="sort != null">#{sort},</if>
            <if test="salesNum != null">#{salesNum},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTProduct" parameterType="Product">
        update t_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="productNo != null">product_no = #{productNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="barCode != null">bar_code = #{barCode},</if>
            <if test="categoryOne != null">category_one = #{categoryOne},</if>
            <if test="categoryTwo != null">category_two = #{categoryTwo},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="marketPrice != null">market_price = #{marketPrice},</if>
            <if test="productIntroduce != null">product_introduce = #{productIntroduce},</if>
            <if test="productDetailPc != null">product_detail_pc = #{productDetailPc},</if>
            <if test="productDetailMobile != null">product_detail_mobile = #{productDetailMobile},</if>
            <if test="storageId != null">storage_id = #{storageId},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="stockLimit != null">stock_limit = #{stockLimit},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="salesNum != null">sales_num = #{salesNum},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTProductById" parameterType="Long">
        update t_product set status=1 where id = #{id}
    </delete>

    <delete id="deleteTProductByIds" parameterType="String">
        update t_product set status=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteProductAttrById" parameterType="Long">
        delete from t_product_attr where product_id = #{id}
    </delete>
</mapper>
