<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.product.mapper.ProductBatchMapper">
    <resultMap type="ProductBatch" id="ProductBatchResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="batchNo" column="batch_no"/>
        <result property="status" column="status"/>
        <result property="batchTitle" column="batch_title"/>
        <result property="batchDate" column="batch_date"/>
        <result property="productId" column="product_id"/>
        <result property="remark" column="remark"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorName" column="create_user_name"/>
        <result property="productName" column="product_name"/>
        <result property="productNo" column="product_no"/>
        <result property="barCode" column="bar_code"/>
        <result property="storageName" column="storage_name"/>
    </resultMap>

    <sql id="selectProductBatchVo">
        select id, company_id, batch_no, status, batch_title, batch_date, product_id, remark, create_user, create_time, update_user, update_time from t_product_batch
    </sql>

    <sql id="selectProductBatchExtarVo">
        select
        pb.id,
        pb.company_id,
        pb.batch_no,
        pb.status,
        pb.batch_title,
        DATE_FORMAT(pb.batch_date,'%Y-%m-%d') as batch_date,
        pb.product_id,
        pb.remark,
        pb.create_user,
        pb.create_time,
        pb.update_user,
        pb.update_time,
        suc.nick_name as create_user_name,
        p.product_name,
        p.product_no,
        p.bar_code,
        s.storage_name
        from t_product_batch pb
        left join t_product p on p.id=pb.product_id
        left join sys_user suc ON suc.user_id = pb.create_user
        left join t_storage s on s.id=p.storage_id
    </sql>

    <select id="selectProductBatchList" parameterType="Map" resultMap="ProductBatchResult">
        <include refid="selectProductBatchExtarVo"/>
        <where>
            pb.status=0
            <if test="companyId != null ">and pb.company_id = #{companyId}</if>
            <if test='batchNo != null and batchNo != ""'>
                <bind name="batch_noLike" value="'%'+batchNo+'%'"/>
                and pb.batch_no like #{batch_noLike}
            </if>
            <if test='batchTitle != null and batchTitle != ""'>
                <bind name="batch_titleLike" value="'%'+batchTitle+'%'"/>
                and pb.batch_title like #{batch_titleLike}
            </if>

            <if test='productNo != null and productNo != ""'>
                <bind name="product_noLike" value="'%'+productNo+'%'"/>
                and p.product_no like #{product_noLike}
            </if>
            <if test='proaductCategory != null and proaductCategory != ""'>and p.category_one = #{proaductCategory}</if>
        </where>
    </select>

    <select id="selectProductBatchListV2" parameterType="Product" resultMap="ProductBatchResult">
        <include refid="selectProductBatchVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="batchNo != null "> and batch_no = #{batchNo}</if>
        </where>
    </select>

    <select id="selectProductBatchById" parameterType="Long" resultMap="ProductBatchResult">
        <include refid="selectProductBatchVo"/>
        where id = #{id}
    </select>

    <insert id="insertProductBatch" parameterType="ProductBatch">
        insert into t_product_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="batchTitle != null">batch_title,</if>
            <if test="batchDate != null">batch_date,</if>
            <if test="productId != null">product_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="batchTitle != null">#{batchTitle},</if>
            <if test="batchDate != null">#{batchDate},</if>
            <if test="productId != null">#{productId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateProductBatch" parameterType="ProductBatch">
        update t_product_batch
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="batchTitle != null">batch_title = #{batchTitle},</if>
            <if test="batchDate != null">batch_date = #{batchDate},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductBatchById" parameterType="Long">
        update t_product_batch set status=1 where id = #{id}
    </delete>

    <delete id="deleteProductBatchByIds" parameterType="String">
        update t_product_batch set status=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
