<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.product.mapper.ProductMapper">

    <resultMap type="Product" id="TProductResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="productNo"    column="product_no"    />
        <result property="status"    column="status"    />
        <result property="productName"    column="product_name"    />
        <result property="barCode"    column="bar_code"    />
        <result property="categoryOne"    column="category_one"    />
        <result property="categoryTwo"    column="category_two"    />
        <result property="categoryName"    column="category_name"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="marketPrice"    column="market_price"    />
        <result property="productIntroduce"    column="product_introduce"    />
        <result property="productDetailPc"    column="product_detail_pc"    />
        <result property="productDetailMobile"    column="product_detail_mobile"    />
        <result property="storageId"    column="storage_id"    />
        <result property="stock"    column="stock"    />
        <result property="stockLimit"    column="stock_limit"    />
        <result property="unit"    column="unit"    />
        <result property="sort"    column="sort"    />
        <result property="salesNum"    column="sales_num"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="productId"    column="product_id"    />
        <result property="attrNameCn"    column="attr_name_cn"    />
        <result property="attrNameEn"    column="attr_name_en"    />
        <result property="attrValue"    column="attr_value"    />
        <result property="templateId1"    column="template_id1"    />
        <result property="templateId2"    column="template_id2"    />
        <result property="templateContent1"    column="template_content1"    />
        <result property="templateContent2"    column="template_content2"    />
        <result property="content1"    column="content1"    />
        <result property="content2"    column="content2"    />
        <result property="photo"    column="photo"    />
    </resultMap>
    <resultMap type="Map" id="map">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="productNo"    column="product_no"    />
        <result property="status"    column="status"    />
        <result property="productName"    column="product_name"    />
        <result property="barCode"    column="bar_code"    />
        <result property="categoryOne"    column="category_one"    />
        <result property="categoryTwo"    column="category_two"    />
        <result property="categoryName"    column="category_name"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="marketPrice"    column="market_price"    />
        <result property="productIntroduce"    column="product_introduce"    />
        <result property="productDetailPc"    column="product_detail_pc"    />
        <result property="productDetailMobile"    column="product_detail_mobile"    />
        <result property="storageId"    column="storage_id"    />
        <result property="stock"    column="stock"    />
        <result property="stockLimit"    column="stock_limit"    />
        <result property="unit"    column="unit"    />
        <result property="sort"    column="sort"    />
        <result property="salesNum"    column="sales_num"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="productId"    column="product_id"    />
        <result property="attrNameCn"    column="attr_name_cn"    />
        <result property="attrNameEn"    column="attr_name_en"    />
        <result property="attrValue"    column="attr_value"    />
        <result property="templateId1"    column="template_id1"    />
        <result property="templateId2"    column="template_id2"    />
        <result property="templateContent1"    column="template_content1"    />
        <result property="templateContent2"    column="template_content2"    />
        <result property="content1"    column="content1"    />
        <result property="content2"    column="content2"    />
        <result property="photo"    column="photo"    />
    </resultMap>

    <sql id="selectTProductVo">
        select p.id, p.company_id, p.product_no, p.status, p.product_name, p.bar_code, p.category_one, p.category_two,pc.category_name,
        p.sale_price, p.market_price, p.product_introduce, p.product_detail_pc, p.product_detail_mobile, p.storage_id,
        p.stock, p.stock_limit, p.unit, p.sort, p.sales_num, p.create_user, p.create_time, p.update_user, p.update_time,u.nick_name createUserName
        ,p.photo
        from t_product p
        left join t_product_category pc on pc.id=p.category_two
        left join sys_user u on p.create_user = u.user_id

    </sql>

    <select id="selectTProductList" parameterType="Product" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        <where>
            <if test="companyId != null "> and p.company_id = #{companyId}</if>
            <if test="productNo != null  and productNo != ''"> and p.product_no like concat('%', #{productNo}, '%')</if>
            <if test="status != null"> and p.status = #{status}</if>
            <if test="status == null "> and p.status != 1</if>
            <if test="productName != null  and productName != ''"> and p.product_name like concat('%', #{productName}, '%')</if>
            <if test="barCode != null  and barCode != ''"> and p.bar_code = #{barCode}</if>
            <if test="categoryOne != null  and categoryOne != ''"> and p.category_one = #{categoryOne}</if>
            <if test="categoryTwo != null  and categoryTwo != ''"> and p.category_two = #{categoryTwo}</if>
            <if test="proaductCategory != null  and proaductCategory != ''"> and( category_two = #{proaductCategory} or category_one=#{proaductCategory})</if>
            <if test="salePrice != null "> and p.sale_price = #{salePrice}</if>
            <if test="marketPrice != null "> and p.market_price = #{marketPrice}</if>
            <if test="productIntroduce != null  and productIntroduce != ''"> and p.product_introduce = #{productIntroduce}</if>
            <if test="productDetailPc != null  and productDetailPc != ''"> and p.product_detail_pc = #{productDetailPc}</if>
            <if test="productDetailMobile != null  and productDetailMobile != ''"> and p.product_detail_mobile = #{productDetailMobile}</if>
            <if test="storageId != null "> and p.storage_id = #{storageId}</if>
            <if test="stock != null "> and p.stock = #{stock}</if>
            <if test="stockLimit != null "> and p.stock_limit = #{stockLimit}</if>
            <if test="unit != null  and unit != ''"> and p.unit = #{unit}</if>
            <if test="sort != null "> and p.sort = #{sort}</if>
            <if test="salesNum != null "> and p.sales_num = #{salesNum}</if>
            <if test="createUser != null "> and p.create_user = #{createUser}</if>
            <if test="updateUser != null "> and p.update_user = #{updateUser}</if>
            <if test="templateId1 != null "> and p.template_id1 = #{templateId1}</if>
            <if test="templateId2 != null "> and p.template_id2 = #{templateId2}</if>
            <if test="templateContent1 != null  and templateContent1 != ''"> and p.template_content1 = #{templateContent1}</if>
            <if test="templateContent2 != null  and templateContent2 != ''"> and p.template_content2 = #{templateContent2}</if>
            <if test="content1 != null  and content1 != ''"> and p.content1 = #{content1}</if>
            <if test="content2 != null  and content2 != ''"> and p.content2 = #{content2}</if>
        </where>
        order by sort
    </select>


    <select id="selectTProductList1" parameterType="Product" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        <where>
            <if test="companyId != null "> and p.company_id = #{companyId}</if>
            <if test="productNo != null  and productNo != ''"> and p.product_no = #{productNo}</if>
            <if test="status != null"> and p.status = #{status}</if>
            <if test="status == null "> and p.status != 1</if>
            <if test="productName != null  and productName != ''"> and p.product_name = #{productName}</if>
            <if test="barCode != null  and barCode != ''"> and p.bar_code = #{barCode}</if>
            <if test="categoryOne != null  and categoryOne != ''"> and p.category_one = #{categoryOne}</if>
            <if test="categoryTwo != null  and categoryTwo != ''"> and p.category_two = #{categoryTwo}</if>
            <if test="proaductCategory != null  and proaductCategory != ''"> and( category_two = #{proaductCategory} or category_one=#{proaductCategory})</if>
            <if test="salePrice != null "> and p.sale_price = #{salePrice}</if>
            <if test="marketPrice != null "> and p.market_price = #{marketPrice}</if>
            <if test="productIntroduce != null  and productIntroduce != ''"> and p.product_introduce = #{productIntroduce}</if>
            <if test="productDetailPc != null  and productDetailPc != ''"> and p.product_detail_pc = #{productDetailPc}</if>
            <if test="productDetailMobile != null  and productDetailMobile != ''"> and p.product_detail_mobile = #{productDetailMobile}</if>
            <if test="storageId != null "> and p.storage_id = #{storageId}</if>
            <if test="stock != null "> and p.stock = #{stock}</if>
            <if test="stockLimit != null "> and p.stock_limit = #{stockLimit}</if>
            <if test="unit != null  and unit != ''"> and p.unit = #{unit}</if>
            <if test="sort != null "> and p.sort = #{sort}</if>
            <if test="salesNum != null "> and p.sales_num = #{salesNum}</if>
            <if test="createUser != null "> and p.create_user = #{createUser}</if>
            <if test="updateUser != null "> and p.update_user = #{updateUser}</if>
            <if test="templateId1 != null "> and p.template_id1 = #{templateId1}</if>
            <if test="templateId2 != null "> and p.template_id2 = #{templateId2}</if>
            <if test="templateContent1 != null  and templateContent1 != ''"> and p.template_content1 = #{templateContent1}</if>
            <if test="templateContent2 != null  and templateContent2 != ''"> and p.template_content2 = #{templateContent2}</if>
            <if test="content1 != null  and content1 != ''"> and p.content1 = #{content1}</if>
            <if test="content2 != null  and content2 != ''"> and p.content2 = #{content2}</if>
        </where>
        order by sort
    </select>

    <select id="selectTProductById" parameterType="Long" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        where p.id = #{id}
    </select>

    <select id="getAttributeList" resultMap="map">
        select id, company_id, product_id, attr_name_cn, attr_name_en, attr_value, sort, create_user, create_time, update_user, update_time
        from t_product_attr
        where product_id = #{id}
    </select>

    <select id="getAttributeAll" resultMap="map">
        select id, company_id, product_id, attr_name_cn, attr_name_en, attr_value, sort, create_user, create_time, update_user, update_time
        from t_product_attr
        where company_id = #{companyId}
    </select>

    <insert id="insertTProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="productNo != null">product_no,</if>
            <if test="status != null">status,</if>
            <if test="productName != null">product_name,</if>
            <if test="barCode != null">bar_code,</if>
            <if test="categoryOne != null">category_one,</if>
            <if test="categoryTwo != null">category_two,</if>
            <if test="salePrice != null">sale_price,</if>
            <if test="marketPrice != null">market_price,</if>
            <if test="productIntroduce != null">product_introduce,</if>
            <if test="productDetailPc != null">product_detail_pc,</if>
            <if test="productDetailMobile != null">product_detail_mobile,</if>
            <if test="storageId != null">storage_id,</if>
            <if test="stock != null">stock,</if>
            <if test="stockLimit != null">stock_limit,</if>
            <if test="unit != null">unit,</if>
            <if test="sort != null">sort,</if>
            <if test="salesNum != null">sales_num,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="templateId1 != null">template_id1,</if>
            <if test="templateId2 != null">template_id2,</if>
            <if test="templateContent1 != null">template_content1,</if>
            <if test="templateContent2 != null">template_content2,</if>
            <if test="content1 != null">content1,</if>
            <if test="content2 != null">content2,</if>
            <if test="photo != null">photo,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="productNo != null">#{productNo},</if>
            <if test="status != null">#{status},</if>
            <if test="productName != null">#{productName},</if>
            <if test="barCode != null">#{barCode},</if>
            <if test="categoryOne != null">#{categoryOne},</if>
            <if test="categoryTwo != null">#{categoryTwo},</if>
            <if test="salePrice != null">#{salePrice},</if>
            <if test="marketPrice != null">#{marketPrice},</if>
            <if test="productIntroduce != null">#{productIntroduce},</if>
            <if test="productDetailPc != null">#{productDetailPc},</if>
            <if test="productDetailMobile != null">#{productDetailMobile},</if>
            <if test="storageId != null">#{storageId},</if>
            <if test="stock != null">#{stock},</if>
            <if test="stockLimit != null">#{stockLimit},</if>
            <if test="unit != null">#{unit},</if>
            <if test="sort != null">#{sort},</if>
            <if test="salesNum != null">#{salesNum},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="templateId1 != null">#{templateId1},</if>
            <if test="templateId2 != null">#{templateId2},</if>
            <if test="templateContent1 != null">#{templateContent1},</if>
            <if test="templateContent2 != null">#{templateContent2},</if>
            <if test="content1 != null">#{content1},</if>
            <if test="content2 != null">#{content2},</if>
            <if test="photo != null">#{photo},</if>
         </trim>
    </insert>

    <insert id="insertProductAttr" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into t_product_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="attrNameCn != null">attr_name_cn,</if>
            <if test="attrNameEn != null">attr_name_en,</if>
            <if test="attrValue != null">attr_value,</if>
            <if test="sort != null">sort,</if>
            <if test="salesNum != null">sales_num,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="attrNameCn != null">#{attrNameCn},</if>
            <if test="attrNameEn != null">#{attrNameEn},</if>
            <if test="attrValue != null">#{attrValue},</if>
            <if test="sort != null">#{sort},</if>
            <if test="salesNum != null">#{salesNum},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTProduct" parameterType="Product">
        update t_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="productNo != null">product_no = #{productNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="barCode != null">bar_code = #{barCode},</if>
            <if test="categoryOne != null">category_one = #{categoryOne},</if>
            <if test="categoryTwo != null">category_two = #{categoryTwo},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="marketPrice != null">market_price = #{marketPrice},</if>
            <if test="productIntroduce != null">product_introduce = #{productIntroduce},</if>
            <if test="productDetailPc != null">product_detail_pc = #{productDetailPc},</if>
            <if test="productDetailMobile != null">product_detail_mobile = #{productDetailMobile},</if>
            <if test="storageId != null">storage_id = #{storageId},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="stockLimit != null">stock_limit = #{stockLimit},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="salesNum != null">sales_num = #{salesNum},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="templateId1 != null">template_id1 = #{templateId1},</if>
            <if test="templateId2 != null">template_id2 = #{templateId2},</if>
            <if test="templateContent1 != null">template_content1 = #{templateContent1},</if>
            <if test="templateContent2 != null">template_content2 = #{templateContent2},</if>
            <if test="content1 != null">content1 = #{content1},</if>
            <if test="content2 != null">content2 = #{content2},</if>
            <if test="photo != null">photo = #{photo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTProductById" parameterType="Long">
        update t_product set status=1 where id = #{id}
    </delete>

    <delete id="deleteTProductByIds" parameterType="String">
        update t_product set status=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTProductTrueByIds" parameterType="String">
        delete from t_product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteProductAttrById" parameterType="Long">
        delete from t_product_attr where product_id = #{id}
    </delete>

    <!--    type=1 已下架  2 已上架 3 库存紧张 4 所有-->
    <select id="selectProductNum" resultType="java.lang.Integer" parameterType="Map">
        select count(id) from t_product where status!=1
        <if test="deptId != null">
            and company_id = #{deptId}
        </if>

        <if test="type != null and type == 1">
            and status =0
        </if>
        <if test="type != null and type == 2">
            and status =2
        </if>
        <if test="type != null and type == 3">
            and stock &lt;= stock_limit
        </if>
        <if test="type != null and type == 4">

        </if>
    </select>
</mapper>
