<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.storage.mapper.StorageBackMapper">

    <resultMap type="StorageBack" id="StorageBackResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="status" column="status"/>
        <result property="backType" column="back_type"/>
        <result property="backNo" column="back_no"/>
        <result property="productId" column="product_id"/>
        <result property="batchNo" column="batch_no"/>
        <result property="backNum" column="back_num"/>
        <result property="actBackNum" column="act_back_num"/>
        <result property="storageFrom" column="storage_from"/>
        <result property="storageTo" column="storage_to"/>
        <result property="fromStorageId" column="from_storage_id"/>
        <result property="toStorageId" column="to_storage_id"/>
        <result property="remark" column="remark"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="toStorageName" column="storage_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="storageFromName" column="storage_from_name"/>
        <result property="storageToName" column="storage_to_name"/>
        <result property="productName" column="product_name"/>
    </resultMap>

    <sql id="selectStorageBackVo">
        select b.id,
        b.company_id,
        b.tenant_id,
        b.status,
        b.back_type,
        b.back_no,
        b.product_id,
        b.batch_no,
        b.back_num,
        b.act_back_num,
        b.storage_from,
        b.storage_to,
        b.from_storage_id,
        b.to_storage_id,
        b.remark,
        b.create_user,
        b.create_time,
        b.update_user,
        b.update_time,
        s.storage_name,
        u.nick_name,
        d.dept_name as storage_from_name,
        d1.dept_name as storage_to_name,
        p.product_name
        from t_storage_back b
        left join t_storage s on b.to_storage_id = s.id
        left join sys_user u on b.create_user = u.user_id
        left join sys_dept d on b.storage_from = d.dept_id
        left join sys_dept d1 on b.storage_to = d1.dept_id
        left join t_product p on b.product_id = p.id
    </sql>

    <select id="selectStorageBackList" parameterType="StorageBack" resultMap="StorageBackResult">
        <include refid="selectStorageBackVo"/>
        <where>
            b.status != 9
            <if test="companyId != null ">and b.company_id = #{companyId}</if>
            <if test="tenantId != null ">and b.tenant_id = #{tenantId}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="backNo != null  and backNo != ''">and b.back_no = #{backNo}</if>
            <if test="productId != null ">and b.product_id = #{productId}</if>
            <if test="batchNo != null  and batchNo != ''">and b.batch_no = #{batchNo}</if>
            <if test="backNum != null ">and b.back_num = #{backNum}</if>
            <if test="actBackNum != null ">and b.act_back_num = #{actBackNum}</if>
            <if test="storageFrom != null  and storageFrom != ''">and b.storage_from = #{storageFrom}</if>
            <if test="storageTo != null  and storageTo != ''">and b.storage_to = #{storageTo}</if>
            <if test="fromStorageId != null ">and b.from_storage_id = #{fromStorageId}</if>
            <if test="toStorageId != null ">and b.to_storage_id = #{toStorageId}</if>
            <if test="beginTime != null ">and b.create_time &gt;= #{beginTime}</if>
            <if test="endTime != null ">and b.create_time &lt;= #{endTime}</if>
        </where>
        ${@com.ztl.gym.storage.service.impl.StorageServiceImpl@getMyTenantId('and b.tenant_id ')}
        order by create_time
    </select>

    <select id="selectStorageBackById" parameterType="Long" resultMap="StorageBackResult">
        <include refid="selectStorageBackVo"/>
        where b.id = #{id}
    </select>

    <insert id="insertStorageBack" parameterType="StorageBack" useGeneratedKeys="true" keyProperty="id">
        insert into t_storage_back
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="status != null">status,</if>
            <if test="backType != null">back_type,</if>
            <if test="backNo != null">back_no,</if>
            <if test="productId != null">product_id,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="backNum != null">back_num,</if>
            <if test="actBackNum != null">act_back_num,</if>
            <if test="storageFrom != null">storage_from,</if>
            <if test="storageTo != null">storage_to,</if>
            <if test="fromStorageId != null">from_storage_id,</if>
            <if test="toStorageId != null">to_storage_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="status != null">#{status},</if>
            <if test="backType != null">#{backType},</if>
            <if test="backNo != null">#{backNo},</if>
            <if test="productId != null">#{productId},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="backNum != null">#{backNum},</if>
            <if test="actBackNum != null">#{actBackNum},</if>
            <if test="storageFrom != null">#{storageFrom},</if>
            <if test="storageTo != null">#{storageTo},</if>
            <if test="fromStorageId != null">#{fromStorageId},</if>
            <if test="toStorageId != null">#{toStorageId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateStorageBack" parameterType="StorageBack">
        update t_storage_back
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="backNo != null">back_no = #{backNo},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="backNum != null">back_num = #{backNum},</if>
            <if test="actBackNum != null">act_back_num = #{actBackNum},</if>
            <if test="storageFrom != null">storage_from = #{storageFrom},</if>
            <if test="storageTo != null">storage_to = #{storageTo},</if>
            <if test="fromStorageId != null">from_storage_id = #{fromStorageId},</if>
            <if test="toStorageId != null">to_storage_id = #{toStorageId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStorageBackById" parameterType="Long">
        update t_storage_back set status = 9 where  id = #{id}
    </delete>

    <delete id="deleteStorageBackByIds" parameterType="String">
        delete from t_storage_back where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
