<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.storage.mapper.StorageTransferMapper">

    <resultMap type="StorageTransfer" id="StorageTransferResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="status"    column="status"    />
        <result property="transferNo"    column="transfer_no"    />
        <result property="productId"    column="product_id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="transferNum"    column="transfer_num"    />
        <result property="actTransferNum"    column="act_transfer_num"    />
        <result property="storageFrom"    column="storage_from"    />
        <result property="storageTo"    column="storage_to"    />
        <result property="fromStorageId"    column="from_storage_id"    />
        <result property="toStorageId"    column="to_storage_id"    />
        <result property="remark"    column="remark"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="outTime"    column="out_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStorageTransferVo">
        select id, company_id, tenant_id, status, transfer_no, product_id, batch_no, transfer_num, act_transfer_num, storage_from, storage_to, from_storage_id, to_storage_id, remark, create_user, create_time, out_time, update_user, update_time from t_storage_transfer
    </sql>

    <select id="selectStorageTransferList" parameterType="StorageTransfer" resultMap="StorageTransferResult">
        <include refid="selectStorageTransferVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="transferNo != null  and transferNo != ''"> and transfer_no = #{transferNo}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="transferNum != null "> and transfer_num = #{transferNum}</if>
            <if test="actTransferNum != null "> and act_transfer_num = #{actTransferNum}</if>
            <if test="storageFrom != null  and storageFrom != ''"> and storage_from = #{storageFrom}</if>
            <if test="storageTo != null  and storageTo != ''"> and storage_to = #{storageTo}</if>
            <if test="fromStorageId != null "> and from_storage_id = #{fromStorageId}</if>
            <if test="toStorageId != null "> and to_storage_id = #{toStorageId}</if>
            <if test="outTime != null "> and out_time = #{outTime}</if>
        </where>
    </select>

    <select id="selectStorageTransferById" parameterType="Long" resultMap="StorageTransferResult">
        <include refid="selectStorageTransferVo"/>
        where id = #{id}
    </select>

    <select id="selectStorageTransferByNo" parameterType="String" resultMap="StorageTransferResult">
        <include refid="selectStorageTransferVo"/>
        where transferNo = #{transferNo}
    </select>

    <insert id="insertStorageTransfer" parameterType="StorageTransfer" useGeneratedKeys="true" keyProperty="id">
        insert into t_storage_transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="status != null">status,</if>
            <if test="transferNo != null">transfer_no,</if>
            <if test="productId != null">product_id,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="transferNum != null">transfer_num,</if>
            <if test="actTransferNum != null">act_transfer_num,</if>
            <if test="storageFrom != null">storage_from,</if>
            <if test="storageTo != null">storage_to,</if>
            <if test="fromStorageId != null">from_storage_id,</if>
            <if test="toStorageId != null">to_storage_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="outTime != null">out_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="status != null">#{status},</if>
            <if test="transferNo != null">#{transferNo},</if>
            <if test="productId != null">#{productId},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="transferNum != null">#{transferNum},</if>
            <if test="actTransferNum != null">#{actTransferNum},</if>
            <if test="storageFrom != null">#{storageFrom},</if>
            <if test="storageTo != null">#{storageTo},</if>
            <if test="fromStorageId != null">#{fromStorageId},</if>
            <if test="toStorageId != null">#{toStorageId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="outTime != null">#{outTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStorageTransfer" parameterType="StorageTransfer">
        update t_storage_transfer
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="transferNo != null">transfer_no = #{transferNo},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="transferNum != null">transfer_num = #{transferNum},</if>
            <if test="actTransferNum != null">act_transfer_num = #{actTransferNum},</if>
            <if test="storageFrom != null">storage_from = #{storageFrom},</if>
            <if test="storageTo != null">storage_to = #{storageTo},</if>
            <if test="fromStorageId != null">from_storage_id = #{fromStorageId},</if>
            <if test="toStorageId != null">to_storage_id = #{toStorageId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="outTime != null">out_time = #{outTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStorageTransferById" parameterType="Long">
        delete from t_storage_transfer where id = #{id}
    </delete>

    <delete id="deleteStorageTransferByIds" parameterType="String">
        delete from t_storage_transfer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
