<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.system.mapper.SysDeptMapper">

    <resultMap type="SysDept" id="SysDeptResult">
        <id property="deptId" column="dept_id"/>
        <result property="deptType" column="dept_type"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="provinces" column="provinces"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="host" column="host"/>
        <result property="port" column="port"/>
        <result property="user" column="user"/>
        <result property="pwd" column="pwd"/>
        <result property="prefix" column="prefix"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectDeptVo">
        select d.dept_id, d.dept_type, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time,d.provinces,d.province,d.city,
        d.area,d.address,d.longitude,d.latitude,d.host,d.port,d.user,d.pwd,d.prefix,d.version from sys_dept d
    </sql>

    <select id="selectDeptList" parameterType="SysDept" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="deptName != null and deptName != ''">
            AND dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptListByRoleId" resultType="Integer">
        select d.dept_id
        from sys_dept d
        left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
        <if test="deptCheckStrictly">
            and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id =
            rd.dept_id and rd.role_id = #{roleId})
        </if>
        order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptById" parameterType="Long" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where dept_id = #{deptId}
    </select>

    <select id="checkDeptExistUser" parameterType="Long" resultType="int">
		select count(1) from sys_user where dept_id = #{deptId} and del_flag = '0'
	</select>

    <select id="hasChildByDeptId" parameterType="Long" resultType="int">
		select count(1) from sys_dept
		where del_flag = '0' and parent_id = #{deptId} limit 1
	</select>

    <select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDeptResult">
		select * from sys_dept where find_in_set(#{deptId}, ancestors)
	</select>

    <select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">
		select count(*) from sys_dept where status = 0 and del_flag = '0' and find_in_set(#{deptId}, ancestors)
	</select>

    <select id="selectAllChildDeptById" parameterType="Long" resultMap="SysDeptResult">
		select * from sys_dept where status = 0 and del_flag = '0' and dept_type=2 and find_in_set(#{deptId}, ancestors)
	</select>

    <select id="checkDeptNameUnique" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where dept_name=#{deptName} and parent_id = #{parentId} limit 1
    </select>

    <insert id="insertDept" parameterType="SysDept">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="deptId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_dept(
        <if test="deptId != null and deptId != 0">dept_id,</if>
        <if test="deptType != null and deptType != 0">dept_type,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="deptName != null and deptName != ''">dept_name,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="leader != null and leader != ''">leader,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="status != null">status,</if>
        <if test="province != null and province != ''">province,</if>
        <if test="provinces != null and provinces != ''">provinces,</if>
        <if test="city != null and city != ''">city,</if>
        <if test="area != null and area != ''">area,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="longitude != null and longitude != ''">longitude,</if>
        <if test="latitude != null and latitude != ''">latitude,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="host != null and host != ''">host,</if>
        <if test="port != null and port != ''">port,</if>
        <if test="user != null and user != ''">user,</if>
        <if test="pwd != null and pwd != ''">pwd,</if>
        <if test="prefix != null and prefix != ''">prefix,</if>
        <if test="version != null and version != ''">version,</if>
        create_time
        )values(
        <if test="deptId != null and deptId != 0">#{deptId},</if>
        <if test="deptType != null and deptType != 0">#{deptType},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="deptName != null and deptName != ''">#{deptName},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="status != null">#{status},</if>
        <if test="province != null and province != ''">#{province},</if>
        <if test="provinces != null and provinces != ''">#{provinces},</if>
        <if test="city != null and city != ''">#{city},</if>
        <if test="area != null and area != ''">#{area},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="longitude != null and longitude != ''">#{longitude},</if>
        <if test="latitude != null and latitude != ''">#{latitude},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="host != null and host != ''">#{host},</if>
        <if test="port != null and port != ''">#{port},</if>
        <if test="user != null and user != ''">#{user},</if>
        <if test="pwd != null and pwd != ''">#{pwd},</if>
        <if test="prefix != null and prefix != ''">#{prefix},</if>
        <if test="version != null and version != ''">#{version},</if>
        sysdate()
        )
    </insert>

    <update id="updateDept" parameterType="SysDept">
        update sys_dept
        <set>
            <if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
            <if test="deptType != null and deptType != 0">dept_type = #{deptType},</if>
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="provinces != null and provinces != ''">provinces = #{provinces},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="area != null and area != ''">area = #{area},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="host != null and host != ''">host = #{host},</if>
            <if test="port != null and port != ''">port = #{port},</if>
            <if test="user != null and user != ''">user = #{user},</if>
            <if test="pwd != null and pwd != ''">pwd = #{pwd},</if>
            <if test="prefix != null and prefix != ''">prefix = #{prefix},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            update_time = sysdate()
        </set>
        where dept_id = #{deptId}
    </update>

    <update id="updateDeptChildren" parameterType="java.util.List">
        update sys_dept set ancestors =
        <foreach collection="depts" item="item" index="index"
                 separator=" " open="case dept_id" close="end">
            when #{item.deptId} then #{item.ancestors}
        </foreach>
        where dept_id in
        <foreach collection="depts" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.deptId}
        </foreach>
    </update>

    <update id="updateDeptStatus" parameterType="SysDept">
        update sys_dept
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where dept_id in (${ancestors})
    </update>

    <delete id="deleteDeptById" parameterType="Long">
		update sys_dept set del_flag = '2' where dept_id = #{deptId}
	</delete>


    <!--	type = 1 今日新增 2 昨日新增 3 本月新增 4经销商总数 5企业数-->
    <select id="selectCountBydept" resultType="java.lang.Integer" parameterType="Map">
        select count(dept_id) from sys_dept where status='0' and del_flag='0'
        <if test="deptId != null">
            and ancestors like concat('%', #{deptId}, '%')
        </if>
        <if test="type != null and type == 1">
            and create_time &gt;= #{beginTime} and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type == 2">
            and create_time &gt;= #{beginTime} and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type == 3">
            and create_time &gt;= #{beginTime} and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type == 4">

        </if>
        <if test="type != null and type == 5">
            <if test="topdeptId != null">
                and parent_id = #{topdeptId}
            </if>
        </if>
    </select>


    <select id="selectDeptByCity" parameterType="Long" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where dept_id = #{deptId}
    </select>

</mapper>
