<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.common.mapper.CommonMapper">
    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="SysDept" id="SysDeptResult">
        <id property="deptId" column="dept_id"/>
        <result property="deptType" column="dept_type"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="host" column="host"/>
        <result property="port" column="port"/>
        <result property="user" column="user"/>
        <result property="pwd" column="pwd"/>
        <result property="prefix" column="prefix"/>
    </resultMap>

    <resultMap type="GeneratorBean" id="GeneratorResult">
        <id property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="maxId" column="max_id"/>
        <result property="type" column="type"/>
        <result property="step" column="step"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="selectCurrentVal" parameterType="Map" resultType="long">
        SELECT CURRVAL(#{companyId}) for update
    </select>

    <select id="selectNextVal" parameterType="Map" resultType="long">
        SELECT NEXTVAL(#{companyId})
    </select>

    <select id="selectIsExist" parameterType="Map" resultType="int">
        SELECT count(*) from t_code_sequence where company_id = #{companyId }
    </select>
    <select id="getTenantByParent" parameterType="Map" resultMap="SysDeptResult">
       SELECT * FROM `sys_dept` where parent_id=#{companyId} and dept_type = 2 and status = 0
        <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
    </select>

    <insert id="insertCompany" parameterType="Map">
        INSERT INTO t_code_sequence(company_id, current_value, increment) VALUES (#{companyId}, #{val}, 1);
    </insert>

    <update id="updateVal" parameterType="Map">
        UPDATE t_code_sequence SET current_value = #{val} WHERE company_id = #{companyId}
    </update>

    <insert id="insertGenerator" parameterType="Map">
        INSERT INTO t_id_generator(company_id, max_id, type, step, version) VALUES (#{companyId}, #{maxId}, #{type}, #{step},0);
    </insert>

    <update id="updateGeneratorVal" parameterType="Map">
        UPDATE t_id_generator set max_id = #{maxId}, version = version + 1 where company_id = #{companyId} and version = #{version} and type = #{type}
    </update>

    <insert id="insertPrintData" parameterType="Map">
        INSERT INTO t_print_data( company_id,box_code, code_index) VALUES (#{companyId},#{boxCode}, #{codeIndex});
    </insert>

    <select id="selectIdGenerator" parameterType="Map" resultMap="GeneratorResult">
        select * from t_id_generator where company_id = #{companyId} and type = #{type}
    </select>
</mapper>
