<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.common.mapper.CommonMapper">
    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="SysDept" id="SysDeptResult">
        <id property="deptId" column="dept_id"/>
        <result property="deptType" column="dept_type"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectCurrentVal" parameterType="Map" resultType="long">
        SELECT CURRVAL(#{companyId}) for update
    </select>

    <select id="selectNextVal" parameterType="Map" resultType="long">
        SELECT NEXTVAL(#{companyId})
    </select>

    <select id="selectIsExist" parameterType="Map" resultType="int">
        SELECT count(*) from t_code_sequence where company_id = #{companyId }
    </select>
    <select id="getTenantByParent" parameterType="Map" resultMap="SysDeptResult">
       SELECT * FROM `sys_dept` where parent_id=#{companyId} and dept_type = 2 and status = 0
        <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
    </select>

    <insert id="insertCompany" parameterType="Map">
        INSERT INTO t_code_sequence(company_id, current_value, increment) VALUES (#{companyId}, #{val}, 1);
    </insert>

    <update id="updateVal" parameterType="Map">
        UPDATE t_code_sequence SET current_value = #{val} WHERE company_id = #{companyId}
    </update>

    <insert id="insertPrintData" parameterType="Map">
        INSERT INTO t_print_data( company_id,box_code, code_index, product_line, box_num, print_status, product_name, product_model, batch_name, produce_date, code_count, gross_weight, net_weight, order_no, bar_code)
        VALUES (#{companyId},#{boxCode}, #{codeIndex}, #{productLine}, #{boxNum}, #{printStatus}, #{productName}, #{productModel}, #{batchName}, #{produceDate}, #{codeCount}, #{grossWeight}, #{netWeight}, #{orderNo}, #{barCode});
    </insert>

    <insert id="insertPrintAll">
        INSERT INTO t_print_data( company_id,box_code, code_index, product_line, box_num, print_status,
                                  product_name, product_model, batch_name, produce_date, code_count, gross_weight, net_weight, order_no, bar_code)
        VALUES
        <foreach collection="listPrint" item="print" separator=",">
            (#{print.companyId},#{print.boxCode}, #{print.codeIndex}, #{print.productLine}, #{print.boxNum}, #{print.printStatus},
             #{print.productName}, #{print.productModel}, #{print.batchName}, #{print.produceDate}, #{print.codeCount}, #{print.grossWeight}, #{print.netWeight}, #{print.orderNo}, #{print.barCode})
        </foreach>
    </insert>
</mapper>
