<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.code.mapper.CodeRecordMapper">

    <resultMap type="CodeRecord" id="CodeRecordResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="isAcc" column="is_acc"/>
        <result property="trayCount" column="tray_count"/>
        <result property="boxCount" column="box_count"/>
        <result property="singleCount" column="single_count"/>
        <result property="count" column="count"/>
        <result property="indexStart" column="index_start"/>
        <result property="indexEnd" column="index_end"/>
        <result property="productId" column="product_id"/>
        <result property="batchId" column="batch_id"/>
        <result property="remark" column="remark"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorName" column="nick_name"/>
        <result property="productName" column="product_name"/>
        <result property="batchNo" column="batch_no"/>
        <result property="barCode" column="bar_code"/>
    </resultMap>

    <sql id="selectCodeRecordVo">
        select id, company_id, status, type,is_acc,tray_count,box_count,single_count, count, index_start, index_end, product_id, batch_id, remark, create_user, create_time, update_user, update_time from t_code_record
    </sql>

    <sql id="selectCodeRecordExtraVo">
        select r.id,
        r.company_id,
        r.status,
        r.type,r.is_acc,r.tray_count,
        r.box_count,
        r.single_count,
        r.count,
        r.index_start,
        r.index_end,
        r.product_id,
        r.batch_id,
        r.remark,
        r.create_user,
        r.create_time,
        r.update_user,
        r.update_time,
        u.nick_name,
        p.product_name,
        b.batch_no,
        p.bar_code
        from t_code_record r
        left join sys_user u on r.create_user = u.user_id
        left join t_product p on r.product_id = p.id
        left join t_product_batch b on r.batch_id = b.id
    </sql>


    <select id="selectCodeRecordList" parameterType="CodeRecord" resultMap="CodeRecordResult">
        <include refid="selectCodeRecordExtraVo"/>
        <where>
            <if test="companyId != null ">and r.company_id = #{companyId}</if>
            <if test="status != null ">and r.status = #{status}</if>
            <if test="type != null ">and r.type = #{type}</if>
            <if test="isAcc != null ">and r.is_acc = #{isAcc}</if>
            <if test="trayCount != null ">and r.tray_count = #{trayCount}</if>
            <if test="boxCount != null ">and r.box_count = #{boxCount}</if>
            <if test="singleCount != null ">and r.single_count = #{singleCount}</if>
            <if test="count != null ">and r.count = #{count}</if>
            <if test="indexStart != null ">and r.index_start = #{indexStart}</if>
            <if test="indexEnd != null ">and r.index_end = #{indexEnd}</if>
            <if test="productId != null ">and r.product_id = #{productId}</if>
            <if test="batchId != null ">and r.batch_id = #{batchId}</if>
            <if test="createUser != null ">and r.create_user = #{createUser}</if>
            <if test="updateUser != null ">and r.update_user = #{updateUser}</if>
            <if test="params.codeIndex != null and params.codeIndex != '' ">and r.index_start &lt;= #{params.codeIndex}
                and r.index_end &gt;= #{params.codeIndex}
            </if>
        </where>
        order by r.index_end desc
    </select>

    <select id="selectCodeRecordById" parameterType="Long" resultMap="CodeRecordResult">
        <include refid="selectCodeRecordExtraVo"/>
        where r.id = #{id}
    </select>

    <select id="selectCodeRecordByIndex" parameterType="long" resultMap="CodeRecordResult">
        <include refid="selectCodeRecordVo"/>
        where index_start &lt;= #{codeIndex} and index_end &gt;= #{codeIndex} and company_id  = #{companyId}
    </select>

    <insert id="insertCodeRecord" parameterType="CodeRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_code_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="status != null">status,</if>
            <if test="type != null">type,</if>
            <if test="isAcc != null">is_acc,</if>
            <if test="trayCount != null">tray_count,</if>
            <if test="boxCount != null">box_count,</if>
            <if test="singleCount != null">single_count,</if>
            <if test="count != null">count,</if>
            <if test="indexStart != null">index_start,</if>
            <if test="indexEnd != null">index_end,</if>
            <if test="productId != null">product_id,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="status != null">#{status},</if>
            <if test="type != null">#{type},</if>
            <if test="isAcc != null">#{isAcc},</if>
            <if test="trayCount != null">#{trayCount},</if>
            <if test="boxCount != null">#{boxCount},</if>
            <if test="singleCount != null">#{singleCount},</if>
            <if test="count != null">#{count},</if>
            <if test="indexStart != null">#{indexStart},</if>
            <if test="indexEnd != null">#{indexEnd},</if>
            <if test="productId != null">#{productId},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCodeRecord" parameterType="CodeRecord">
        update t_code_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="type != null">type = #{type},</if>
            <if test="isAcc != null">is_acc = #{isAcc},</if>
            <if test="trayCount != null">tray_count = #{trayCount},</if>
            <if test="boxCount != null">box_count = #{boxCount},</if>
            <if test="count != null">count = #{count},</if>
            <if test="indexStart != null">index_start = #{indexStart},</if>
            <if test="indexEnd != null">index_end = #{indexEnd},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCodeRecordById" parameterType="Long">
        delete from t_code_record where id = #{id}
    </delete>

    <delete id="deleteCodeRecordByIds" parameterType="String">
        delete from t_code_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateCodeIndex" parameterType="Map">
        update t_code_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="indexStart != null">index_start = #{indexStart},</if>
            <if test="indexEnd != null">index_end = #{indexEnd},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="insertCodeRecordStatus" parameterType="Map">
        update t_code_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectCodeNum" resultType="java.lang.Integer" parameterType="Map">
        select IFNULL( SUM(count), 0 ) from  t_code_record where 1=1
        <if test="deptId != null">
            and  company_id = #{deptId}
        </if>
        <if test="type != null and type == 1">
            and create_time &gt;= #{beginTime} and create_time &lt;=  #{endTime}
        </if>
        <if test="type != null and type == 2">

        </if>
    </select>



    <!--    type =1 最近7天 2 最近30天 3 选择时间  -->
    <select id="selectCodeByDate" resultType="java.util.Map" parameterType="Map">
        <if test="type != null and type == 1">
            SELECT
            DATE_FORMAT( mycreatedate, '%m-%d' ) AS countKey,
            ifnull( sum( pv.count ), 0 ) AS countValue
            FROM
            (
            SELECT
            curdate( ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 1 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 2 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 3 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 4 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 5 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 6 DAY ) AS mycreatedate
            ) AS total
            LEFT JOIN t_code_record pv ON DATE_FORMAT( pv.create_time, '%Y-%m-%d' ) = total.mycreatedate
            <if test="deptId != null">
                and pv.company_id  = #{deptId}
            </if>
            GROUP BY
            mycreatedate
        </if>
        <if test="type != null and type == 2">
            SELECT
            DATE_FORMAT( mycreatedate, '%m-%d' ) AS countKey,
            ifnull( sum( pv.count ), 0 ) AS countValue
            FROM
            (
            SELECT
            curdate( ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 1 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 2 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 3 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 4 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 5 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 6 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 7 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 8 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 9 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 10 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 11 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 12 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 13 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 14 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 15 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 16 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 17 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 18 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 19 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 20 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 21 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 22 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 23 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 24 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 25 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 26 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 27 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 28 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 29 DAY ) AS mycreatedate
            ) AS total
            LEFT JOIN t_code_record pv ON DATE_FORMAT( pv.create_time, '%Y-%m-%d' ) = total.mycreatedate
            <if test="deptId != null">
                and pv.company_id  = #{deptId}
            </if>
            GROUP BY
            mycreatedate
        </if>
        <if test="type != null and type == 3">
            SELECT
            DATE_FORMAT( mycreatedate, '%m-%d' ) AS countKey,
            ifnull( COUNT( pv.create_time ), 0 ) AS countValue
            FROM
            (
            SELECT
            curdate( ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 1 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 2 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 3 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 4 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 5 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 6 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 7 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 8 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 9 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 10 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 11 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 12 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 13 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 14 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 15 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 16 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 17 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 18 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 19 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 20 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 21 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 22 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 23 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 24 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 25 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 26 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 27 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 28 DAY ) AS mycreatedate UNION ALL
            SELECT
            date_sub( curdate( ), INTERVAL 29 DAY ) AS mycreatedate
            ) AS total
            LEFT JOIN t_code_record pv ON DATE_FORMAT( pv.create_time, '%Y-%m-%d' ) = total.mycreatedate
            <if test="deptId != null">
                and pv.company_id  = #{deptId}
            </if>
            <if test="beginTime != null">
                and pv.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and pv.create_time &lt;= #{endTime}
            </if>
            and pv.company_id  = #{deptId}
            GROUP BY
            mycreatedate
        </if>
    </select>
</mapper>
