<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztl.gym.mix.mapper.MixRecordMapper">
    
    <resultMap type="MixRecord" id="MixRecordResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="code"    column="code"    />
        <result property="mixType"    column="mix_type"    />
        <result property="mixFrom"    column="mix_from"    />
        <result property="mixTypeName"    column="mix_type_name"    />
        <result property="productId"    column="product_id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="provinceOld"    column="province_old"    />
        <result property="cityOld"    column="city_old"    />
        <result property="areaOld"    column="area_old"    />
        <result property="provinceMix"    column="province_mix"    />
        <result property="cityMix"    column="city_mix"    />
        <result property="areaMix"    column="area_mix"    />
        <result property="createUser"    column="create_user"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="productName"    column="product_name"    />
        <result property="productNo"    column="product_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="tenantName"    column="tenant_name"    />
        <result property="companyName"    column="company_name"    />
    </resultMap>

    <sql id="selectMixRecordVo">
        select mr.id,mr.company_id,mr.code,mr.mix_type,mr.mix_from,mr.tenant_id,mr.product_id,mr.batch_id,mr.province_old,mr.city_old,mr.area_old,
        mr.province_mix,mr.city_mix,mr.area_mix,mr.create_user,mr.create_time,mr.update_user,mr.update_time
        ,p.product_name,p.product_no,pb.batch_no,sd.dept_name as tenant_name,sd2.dept_name as company_name,su.nick_name as create_user_name
        from t_mix_record mr
        left join t_product p on p.id=mr.product_id
        left join t_product_batch pb on pb.id=mr.batch_id
        left join sys_dept sd on sd.dept_id=mr.tenant_id
        left join sys_dept sd2 on sd2.dept_id=sd.parent_id
        left join sys_user su on su.user_id=mr.create_user
    </sql>

    <select id="selectMixRecordList" parameterType="MixRecord" resultMap="MixRecordResult">
        <include refid="selectMixRecordVo"/>
        <where>
            <if test="id != null "> and mr.id = #{id}</if>
            <if test="companyId != null "> and mr.company_id = #{companyId}</if>
            <if test="tenantId != null "> and mr.tenant_id = #{tenantId}</if>
            <if test="code != null  and code != ''"> and mr.code = #{code}</if>
            <if test="mixType != null  "> and mr.mix_type = #{mixType}</if>
            <if test="mixFrom != null  "> and mr.mix_from = #{mixFrom}</if>
            <if test="productId != null "> and mr.product_id = #{productId}</if>
            <if test="batchId != null "> and mr.batch_id = #{batchId}</if>
            <if test="provinceOld != null  and provinceOld != ''"> and mr.province_old = #{provinceOld}</if>
            <if test="cityOld != null  and cityOld != ''"> and mr.city_old = #{cityOld}</if>
            <if test="areaOld != null  and areaOld != ''"> and mr.area_old = #{areaOld}</if>
            <if test="provinceMix != null  and provinceMix != ''"> and mr.province_mix = #{provinceMix}</if>
            <if test="cityMix != null  and cityMix != ''"> and mr.city_mix = #{cityMix}</if>
            <if test="areaMix != null  and areaMix != ''"> and mr.area_mix = #{areaMix}</if>
            <if test="createUser != null "> and mr.create_user = #{createUser}</if>
            <if test="updateUser != null "> and mr.update_user = #{updateUser}</if>
            <if test='productName != null and productName != ""'>
                <bind name="productNameLike" value="'%'+productName+'%'"/>
                and p.product_name like #{productNameLike}
            </if>
            <if test='productNo != null and productNo != ""'>
                <bind name="product_noLike" value="'%'+productNo+'%'"/>
                and p.product_no like #{product_noLike}
            </if>
        </where>
        order by mr.create_time desc
    </select>
    
    <select id="selectMixRecordById" parameterType="Long" resultMap="MixRecordResult">
        <include refid="selectMixRecordVo"/>
        where mr.id = #{id}
    </select>
        
    <insert id="insertMixRecord" parameterType="MixRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_mix_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="code != null">code,</if>
            <if test="mixType != null">mix_type,</if>
            <if test="mixFrom != null">mix_from,</if>
            <if test="productId != null">product_id,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="provinceOld != null">province_old,</if>
            <if test="cityOld != null">city_old,</if>
            <if test="areaOld != null">area_old,</if>
            <if test="provinceMix != null">province_mix,</if>
            <if test="cityMix != null">city_mix,</if>
            <if test="areaMix != null">area_mix,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="code != null">#{code},</if>
            <if test="mixType != null">#{mixType},</if>
            <if test="mixFrom != null">#{mixFrom},</if>
            <if test="productId != null">#{productId},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="provinceOld != null">#{provinceOld},</if>
            <if test="cityOld != null">#{cityOld},</if>
            <if test="areaOld != null">#{areaOld},</if>
            <if test="provinceMix != null">#{provinceMix},</if>
            <if test="cityMix != null">#{cityMix},</if>
            <if test="areaMix != null">#{areaMix},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMixRecord" parameterType="MixRecord">
        update t_mix_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="mixType != null">mix_type = #{mixType},</if>
            <if test="mixFrom != null">mix_from = #{mixFrom},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="provinceOld != null">province_old = #{provinceOld},</if>
            <if test="cityOld != null">city_old = #{cityOld},</if>
            <if test="areaOld != null">area_old = #{areaOld},</if>
            <if test="provinceMix != null">province_mix = #{provinceMix},</if>
            <if test="cityMix != null">city_mix = #{cityMix},</if>
            <if test="areaMix != null">area_mix = #{areaMix},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMixRecordById" parameterType="Long">
        delete from t_mix_record where id = #{id}
    </delete>

    <delete id="deleteMixRecordByIds" parameterType="String">
        delete from t_mix_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectmixnum" resultType="java.lang.Integer" parameterType="Map">
        select count(distinct code)  from  t_mix_record  where mix_type='1'
        <if test="deptId != null">
            and  company_id = #{deptId}
        </if>
    </select>

    <select id="selectMixRecordExport" parameterType="MixRecord" resultType="com.ztl.gym.mix.domain.vo.MixRecordVo">
        select
        mr.code,
        case when mr.mix_type = 1 then '已窜货'
        when mr.mix_type = 0 then '未窜货' else '' end as mixType,
        mr.area_old as areaOld,
        mr.area_mix as areaMix,
        p.product_name as productName,
        p.product_no as productNo,
        pb.batch_no as batchNo,
        sd.dept_name as tenantName,
        sd2.dept_name as companyName
        from t_mix_record mr
        left join t_product p on p.id=mr.product_id
        left join t_product_batch pb on pb.id=mr.batch_id
        left join sys_dept sd on sd.dept_id=mr.tenant_id
        left join sys_dept sd2 on sd2.dept_id=sd.parent_id
        left join sys_user su on su.user_id=mr.create_user
        <where>
            <if test="id != null "> and mr.id = #{id}</if>
            <if test="companyId != null "> and mr.company_id = #{companyId}</if>
            <if test="tenantId != null "> and mr.tenant_id = #{tenantId}</if>
            <if test="code != null  and code != ''"> and mr.code = #{code}</if>
            <if test="mixType != null  "> and mr.mix_type = #{mixType}</if>
            <if test="mixFrom != null  "> and mr.mix_from = #{mixFrom}</if>
            <if test="productId != null "> and mr.product_id = #{productId}</if>
            <if test="batchId != null "> and mr.batch_id = #{batchId}</if>
            <if test="provinceOld != null  and provinceOld != ''"> and mr.province_old = #{provinceOld}</if>
            <if test="cityOld != null  and cityOld != ''"> and mr.city_old = #{cityOld}</if>
            <if test="areaOld != null  and areaOld != ''"> and mr.area_old = #{areaOld}</if>
            <if test="provinceMix != null  and provinceMix != ''"> and mr.province_mix = #{provinceMix}</if>
            <if test="cityMix != null  and cityMix != ''"> and mr.city_mix = #{cityMix}</if>
            <if test="areaMix != null  and areaMix != ''"> and mr.area_mix = #{areaMix}</if>
            <if test="createUser != null "> and mr.create_user = #{createUser}</if>
            <if test="updateUser != null "> and mr.update_user = #{updateUser}</if>
            <if test='productName != null and productName != ""'>
                <bind name="productNameLike" value="'%'+productName+'%'"/>
                and p.product_name like #{productNameLike}
            </if>
            <if test='productNo != null and productNo != ""'>
                <bind name="product_noLike" value="'%'+productNo+'%'"/>
                and p.product_no like #{product_noLike}
            </if>
        </where>
        order by mr.create_time desc
    </select>
</mapper>